
.content {
    display: flex;
    align-items: flex-start;
    max-width: 600px; 
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    gap: 20px; 
}

.pizza-image {
    width: 100%; 
    max-width: 50%; 
    height: auto;
    border-radius: 8px;
}

.description {
    text-align: left; /* Align text to the left */
    margin-top: 0; /* Remove margin-top to align with image */
}

.description h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.description p {
    font-size: 16px;
    color: black;
    line-height: 1.5;
}
