/* Home.css */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.pizza-image {
    width: 100%; /* Make the image responsive */
    max-width: 500px; /* Adjust the max-width as needed */
    height: auto;
    border-radius: 8px;
}

.description {
    text-align: center;
    margin-top: 20px;
}

.description h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.description p {
    font-size: 16px;
    color: white;
    line-height: 1.5;
}
